@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/HelveticaLt.eot"); /* IE9 Compat Modes */
  src: url("../fonts/HelveticaLt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaLt.otf") format("opentype"), /* Open Type Font */
    url("../fonts/HelveticaLt.svg") format("svg"), /* Legacy iOS */
    url("../fonts/HelveticaLt.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaLt.woff") format("woff"), /* Modern Browsers */
    url("../fonts/HelveticaLt.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Acumin-RPro";
  src: url("../Acumin-RPro.eot");
  src: url("../Acumin-RPro.eot?#iefix") format('embedded-opentype'),
       url("../Acumin-RPro.otf") format('otf'),
       url("../Acumin-RPro.svg#Acumin-RPro") format('svg'),
       url("../Acumin-RPro.ttf") format('truetype'),
       url"../Acumin-RPro.woff") format('woff'),
       url("../Acumin-RPro.woff2") format('woff2');
}