@media (max-width: 1125px){
	.absolute-content:first-child{
		left: 20px;
	}
	.trending-title{
		margin-left: 40px;
	}
	.trending-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
   }
	.container {
		width: 90%;
		margin:0 auto;
	}
	.container2{
		width: 90%;
		margin:0 auto;
	}
}
@media(max-width: 1020px){
	.right-action{
		width: 100%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		margin-top: 40px;
	}
	.left-action{
		width: 100%;
	}
	.small-title-box{
		width: 45%;
	}
		.small-title-box3{
		display: none;
	}
}
@media(max-width: 950px){
	.absolute-content p{
		width: 70%;
	}
}
@media(max-width: 920px){
	/*.trending-box{
		width: 90%;
		margin:0 auto;
	}*/
	.wrapper-title{
		width: 90%;
	}
}

@media(max-width: 790px){
	.bg-img{
		width: 100%;
	}
	.more-news{
		width: 100%;
		height: 340px;
	}
	.title-section{
		padding-top: 40px;
	}
	.travelling{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		margin-left: 100px;
	}

}
@media(max-width: 750px){
	.my-content3{
		display: none;
	}
	.my-content{
		width: 40%;
	}
	.my-content img{
		height: 180px;
	}
	.content_name{
		padding-left: 20px
	}
	.content-main-text{
		padding-left: 20px;
	}
	.box-time{
		padding-left: 20px;
	}
	.small-title-box{
		width: 40%;
	}
	.small-title-box img{
		width: 100%;
	}
}
@media(max-width: 690px){
	.travelling{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    width: 100%;
	    margin-left: 0;
	}
	.more-news{
		height: 478px;
	}
}

@media(max-width: 660px){
	.my-content{
		width: 70%;
		 height: 300px;
		 margin-bottom: 40px;
	}
	.my-content:hover{
		-webkit-transform: scale(1) ;
		    -ms-transform: scale(1) ;
		        transform: scale(1) ;
		-webkit-transition: -webkit-transform 0.1s;
		transition: -webkit-transform 0.1s;
		-o-transition: transform 0.1s;
		transition: transform 0.1s;
		transition: transform 0.1s, -webkit-transform 0.1s;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}
	.my-content img{
		height: 150px;
	}

}
@media (max-width: 640px){
	.small-title-box{
		width: 100%;
	}
	.small-title-box:first-child{
		margin-bottom: 40px;
	}
	.small-title-box3{
		display: block;
		width: 100%;
		margin-top: 40px;
	}
	.small-title-box3 img{
		width: 100%;
	}
}
@media(max-width: 590px){
	/*.nav-bar{
		display: none;
	}*/
	

	.right-content{
		width: 30px;
		margin-right: 0;
	}
	#user-image{
		width: 16px;
		height: 16px;
	}
	.left{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	    width: 50%;
    	margin-left: 20px;
	}
	.page-logo{
		color: #A6ADB4;
	}
}


@media(max-width: 573px){
	.absolute-content p{
		width: 70%;
	}
}
@media(max-width: 550px){
	.my-content{
		width: 90%;
	}
	.first-bg{
		height: 300px;
	}
	.second-bg{
		height: 300px;
	}
	h6{
		left: 25px;
		top: 104px;
	}
	.city-text{
		left: 25px;
		top: 174px;
	}
	.action-time{
		top: 252px;
		left: 25px;
	}
	.left-action{
		height: 642px;
	}
	.small-title-box3{
		margin-bottom: 30px;
	}
	.travel-content{
		padding-top: 20px;
	}
	.title-section{
	    padding-bottom: 20px;
    	padding-top: 30px;
	}
	.time{
		margin-top: 20px;
	}
}
@media(max-width: 450px){
	.my-content{
		width: 100%;
	}
}
@media (max-width: 430px){
	.back-second-title{
		white-space: normal;
		width: 90%;
	}
	.absolute-content p {
		width: 90%;
	}
}


/*footer responsive*/

@media (max-width: 1000px){
	.my-page-footer{
		height: 316px;
	}
	.container2{
		width: 90%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer-left-components{
		width: 100%;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}	
	.footer-right-components{
		width: 100%;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}	
	.social-space{
		margin-top: 50px;
	}
}
@media(max-width: 550px){
	.email-input{
		display: none;
	}
	.footer_logo{
		display: none;
	}
	.list1{
		display: none;
	}
	.footer-components{
		line-height: 2.5;
		margin-left: 0;
	}
	.list {
		text-transform: uppercase;
		font-size: 11px;
		color: #FFFFFF;
    	opacity: 50%;
	}
	.list p:hover {
    	color:#FA6980;
	}

}
@media (max-width: 420px){
	.my-page-footer{
		display: none;
	}

}

/*index2.html responsive*/

@media(max-width: 1016px){
	.home-items{
		width: 35%;	
	}
}
@media(max-width: 800px){
	  .article-text{
   	   display: none;
   }
   .article-box-for-ipad{
	display: block;
	}
	.pagination{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	    width: 60%;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    margin: auto;
	    padding: 50px;
	    cursor: pointer;
	    color: #A6ADB4;
	}
}
@media(max-width: 650px){
	.home-items{
		width: 45%;
	}
}
@media(max-width: 550px){
	.pagination{
		width: 80%;
	}
}
@media(max-width: 500px){
	.desert-content .second-title{
		left: 15%;
	}
	.desert-title {
		left: 25%;
	}
}
@media(max-width: 450px){
	.desert-content .second-title{
		left: 10%;
	}
	.desert-title {
		left: 20%;
	}
}
@media(max-width: 380px){
	.desert-content .second-title{
		left: 5px;
	}
	.desert-title {
		left: 15%;
	}
}
@media(max-width: 360px){
	.pagination{
		width: 90%;
	}
}
@media(max-width: 530px){
	.home-items{
		display: none;
	}
	.arrow-left{
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
	color: #A6ADB4;

	}
	.head-of-the-articles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	}
}
@media(max-width: 450px){
	.my-header{
		display: none;
	}
}
@media(max-width: 1115px){
	.select-items{
	    margin-left: 40px;
	}
}
@media(max-width: 960px){
	/*.news-view{
		width: 90%;
   		 margin: auto;
	}*/
	.second_page-bg-img{
		width: 100%;
  	  height: 400px;

	}
	.select-container{
		width: 100%;
		height: 400px;
	}
	.select-items{
		margin-top: 50px;
		margin-left: 70px;
	}
	#choose{
		width: 80%;
	}
	#text{
		width: 80%;
	}
	.first-info{
		padding-top: 40px;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	    margin: 0 auto;
	    width: 90%;
	}
	.first-info h5{
		width: 35%;
	}
	.letter{
    	height: 463px;
	}
	.letters{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    width: 90%;
	    margin: 0 auto;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: row;
	            flex-direction: row;
	}
	.first-letter-space{
		width: 45%;
	}
	.second-letter-space{
		width: 45%;
	}
}
@media(max-width: 580px){
	.letters{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.first-letter-space{
		width: 90%;
	}
	.second-letter-space{
		width: 90%;
	}
	.first-info h5{
		width: 60%;
	}
	.letter{
		height: 600px;
	}
}

/*side bar*/
@media screen and (max-width:560px){
    .navigation {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 100%;
        background: rgb(255, 255, 255);
        z-index: 9;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

	.navigation {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.navigation> li {
        display: block;
        margin: 0;
        border-bottom: 1px solid #eee;
    }
    .navigation>li  {
        color: #222;
        padding: 100px 15px;
        display: block;
    }

	.toggle-nav span {
        display: block;
        width: 18px;
        height: 2px;
        background: rgb(7, 7, 7);
        margin-bottom: 4px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .open-navigation  {
        left: 0;
    }
}