
/*base classes*/
.d-inline-block {
	display: inline-block;
}
.d-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.container {
	max-width: 1098px;
    width: 100%;
    margin: 0 auto;
}
body{
	background-color: #F6F8F9;
}
/*header*/

header{
	background-color: #F6F8F9;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.page_logo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
}

.nav-bar{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.navigation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 267px;
}
.nav-a a{
	color: #343638;
	font-size: 11px;
	font-family: "Helvetica-Light";
	text-transform: uppercase;
	opacity: 50%;
}
.nav-a a:hover{
	opacity: 100%;
}
.nav-active a{
	color: #343638;
	font-size: 11px;
	font-family: "Helvetica-Light";
	text-transform: uppercase;
	opacity: 100%;
}
.nav-active a:hover{
	opacity: 50%;
}
#user-image{
	width: 40px;
    height: 40px;
    border-radius: 50%;
}
.right-content{
	width: 337px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 20px;
}
.right-content:last-child{
	margin-left: 40px;
}


/*here is my first section*/

/*left content*/
.first-section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.bg-img{
	background-image: url("../image/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	height: 600px;
	width:60%;
}
.absolute-content {
	position: absolute;
	font-family: "Helvetica-Light";
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	left:140px;
	top: 177px;
	/*width: 560px;*/
}
.background-title{
	width: 70%;
}
.absolute-content p{
	font-size:16px;
    text-transform: lowercase;
	padding-top: 10px;
	font-family: "Helvetica-Light";
	width:85%;
	line-height: 1.5;
}
.absolute-content button{
	background-color: #FA6980;
	color: #fff;
	padding:15px 30px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	 cursor: pointer;
	 font-size: 11px;
	font-weight: bold;
	margin-top: 30px;

}
.back-second-title{
    text-transform: lowercase;
    white-space: nowrap;
    font-family: "Helvetica-Light";
    font-size: 24px;
    font-weight: bold;
    border-top: 2px solid #fff;
    margin-top: 40px;
    padding-top: 40px;
    width: 70%;
}

/*right content*/
.more-news{
	height: 600px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	background-color: #fff;
	width: 40%;
}
.title-section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 100px;
    border-bottom: 2px solid #A6ADB4;
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 70%;

}
.news-title{
	font-weight: bold;
	font-size: 24px;
	font-family: "Helvetica-Light";
	text-transform: uppercase;


}
.direction-icons{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 55px;
	cursor: pointer;
}

.icon{
	color: #A6ADB4;
	cursor: pointer;
}
.travelling{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.travel-content{
	font-size: 16px;
	font-family: "Helvetica-Light";
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    line-height: 1.6;
    margin: 0 auto;

}
.travel-content h3{
	color: #FA6980;
	text-transform: uppercase;
	font-weight: bold;
}
.travel-content h4{
	color: #202124;
	font-weight: bold;
}
.travel-content p{
	color: #A6ADB4;
	text-transform: lowercase;
	font-family: 'Acumin-RPro';
}
.time{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.icon-time{
	color: #A6ADB4;
	margin-right: 10px;
}



/*second section part*/
.wrapper-title{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
}

.trending-title{
	font-size: 24px;
	font-family: "Helvetica-Light";
	font-weight: bold;
	text-transform: uppercase;
	color: #202124;
	margin-bottom: 40px; 
}
.trending-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}
.my-content {
    width: 30%;
    height: 350px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px #707070;
            box-shadow: 0 3px 6px #707070;
}
.my-content3 {
    width: 30%;
    height: 350px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px #707070;
            box-shadow: 0 3px 6px #707070;
}
.my-content img{
	width: 100%;
}
.my-content3 img{
	width: 100%;
}
.my-content:hover {
	-webkit-transform: scale(1.1) ;
	    -ms-transform: scale(1.1) ;
	        transform: scale(1.1) ;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	-o-transition: transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}
.my-content3:hover {
	-webkit-transform: scale(1.1) ;
	    -ms-transform: scale(1.1) ;
	        transform: scale(1.1) ;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	-o-transition: transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;

}
.text-space{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

}
.content_name {
   	padding: 40px 0 10px 40px;
    font-size: 16px;
    font-family: "Helvetica-Light";
    color: #202124;
    font-weight: bold;
}
.content-main-text{
	padding: 10px 0 10px 40px;
	font-size: 13px;
	color: #A6ADB4;
	font-family: 'Acumin-RPro';

}
.box-time{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px 0 10px 40px;
}
.box-time p{
	font-size: 13px;
	color: #A6ADB4;

}
.box-icon{
	color: #A6ADB4;
	margin-right: 10px;
}


/*action things*/

.action{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.left-action{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 60%;
	height: 900px;
}
.first-bg{
	background-image: url("../image/bridge.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	height: 430px;
	width:100%;
}
.second-bg{
	background-image: url("../image/wood.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	height: 430px;
	width:100%;
}

/*here is text of background images*/
.left-title{
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	left: 35px;
	top:40px;
}
 h6{
	position: absolute;
	font-weight: bold;
	font-size: 24px;
	text-transform: lowercase;
	color: #fff;
	left: 35px;
	top:288px;
    font-family: 'Helvetica-Light';
}
.city-text{
	position: absolute;
	font-size: 16px;
	text-transform: lowercase;
	color: #fff;
	left: 35px;
	top:322px;
	font-family: 'Helvetica-Light';
}
.action-time{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 375px;
    left: 35px;
}
.action-time p{
	font-size: 13px;
	color: #CBD0D3;

}
.action-icon{
	color: #CBD0D3;
	margin-right: 10px;
}



/*done*/

/*right content*/
.right-action{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.box-title{
	font-weight: bold;
	font-size: 16px;
	color: #202124;
	margin-top: 20px;
	font-family: Acumin-RPro;
}
.box-title3{
	font-weight: bold;
	font-size: 16px;
	color: #202124;
	margin-top: 20px;
	font-family: Acumin-RPro;
}
.small-icon{
	color: #A6ADB4;
}
.small-time p{
	font-size: 13px;
	color: #A6ADB4;
	margin-left: 10px;
}
.small-time{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
}
.small-title-box img{
	width: 100%;
}

/*my footer*/
.container2 {
	max-width: 1098px;
    width: 100%;
    margin: 0 auto;
    background-color: #A6ADB4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.my-page-footer{
	background-color: #A6ADB4;
	height: 200px;
	margin-top: 100px;
}
.footer-right-components{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	  width: 50%;
    padding-top: 56px;
}
.footer-left-components{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 50%;
    padding-top: 56px;
}

.footer_logo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.footer-components{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 283px;
	cursor: pointer;
	margin-left: 45px;
}
.list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 13px;
	font-weight: bold;
	color:#CBD0D3;
	text-transform: capitalize;
}
.list1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 13px;
	font-weight: bold;
	color:#CBD0D3;
	text-transform: capitalize;
}
.list p:hover{
	color: #fff;
}
.send-icon {
	color: #Fff;
	position: absolute;
	margin:10px;
	cursor: pointer;

}
.email-input img{
	position: absolute;
}
#email{
	background-color: #A6ADB4;
	opacity: 20%;
	border-radius: 6px;
	border-color: #fff;
	border:2px solid #fff;
	height: 40px;
	position: relative;
	width: 263px;
}
#email:hover{
	background-color: #fff;
}
.footer-text{
	font-size: 11px;
	color:  #CBD0D3;
	margin-top: 16px;
}
.network-icon{
	color: #fff;
}
.social-space{
	width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
::-webkit-input-placeholder {
	font-size: 13px;
	color: #fff;
	text-transform: capitalize;
}
::-moz-placeholder {
	font-size: 13px;
	color: #fff;
	text-transform: capitalize;
}
:-ms-input-placeholder {
	font-size: 13px;
	color: #fff;
	text-transform: capitalize;
}
::-ms-input-placeholder {
	font-size: 13px;
	color: #fff;
	text-transform: capitalize;
}
::placeholder {
	font-size: 13px;
	color: #fff;
	text-transform: capitalize;
}
/*finished footer*/

/*here starts second-page*/

.my-header{
	background-color: #F6F8F9;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.world-news{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.head-of-the-articles{
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 44px 0;
}
.filter{
	cursor: pointer;
}
.home-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    width: 20%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.story{
	color: #202124;
	font-size: 11px;
	font-weight: bold;
	margin-right: 19px;
	cursor: pointer;
	font-family: "Helvetica-Light";
}
.story:hover{
	color: grey ;
}
.world-news-title{
	color: #A6ADB4;
	font-size: 11px;
	font-weight: bold;
	margin-left: 19px;
	cursor: pointer;
	font-family: "Helvetica-Light";
}
.world-news-title:hover{
	color: #202124
}
.second_page-bg-img{
	background-image: url("../image/desert.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	height: 500px;
	width:50%;
}
.desert-content{
	color: #fff;
	font-weight: bold;
	left: 50px;
}
.desert-title {
	position: absolute;
    font-size: 32px;
    text-transform: uppercase;
    border-bottom: 2px solid #FA6980;
   	left: 30%;
    top: 20%;
}
.desert-content .second-title{
	font-size: 16px;
	text-transform: lowercase;
	position: absolute;
	-webkit-transform: translate(10px, 50px);
	    -ms-transform: translate(10px, 50px);
	        transform: translate(10px, 50px);
    left: 20%;
    top: 30%;
}
.autor{
	position: absolute;
    -webkit-transform: translate(10px, 50px);
        -ms-transform: translate(10px, 50px);
            transform: translate(10px, 50px);
    left: 45%;
    top: 45%;
}

.news-view{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.select-container{
	background-color: #FFFFFF;
	width: 50%;
	height: 500px;
}
.select-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 110px;
    margin-top: 127px;
    height: 248px;
}
.arrow-left{
	display: none;
	
}
#choose{
	border-radius: 6px;
	border:2px solid #EBEDED ;
	width: 360px;
	height: 40px;
	color: #CBD0D3;
}
#text{
	border-radius: 6px;
	border:2px solid #EBEDED ;
	width: 360px;
	height: 40px;
}
label{
	color: #202124;
	font-size: 13px;
	font-weight: bold;
	font-family: "Acumin-RPro";
}
.my-button{
	background-color: #FA6980;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	border-radius: 6px;
	text-transform: uppercase;
	outline: hidden;
	width: 134px;
	height: 40px;
}
/*here is part of the news*/
.letter{
	border-bottom: 2px solid #EBEDED;
	border-top: 2px solid #EBEDED;
	margin: 40px 0;
	height: 253px;
}
.flexible{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.letters{
	width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.first-info{
	margin-top: 40px;
	width: 25%;
}
.first-info h5{
	color:#202124;
	font-size: 24px;
	font-weight: bold;
	font-family: "Acumin-RPro";
}
.first-letter-space{
	margin-top: 40px;
	font-size: 14px;
	color: #A6ADB4;
	width: 45%;
	line-height: 1.6;
}

.second-letter-space{
	margin-top: 40px;
	font-size: 14px;
	color: #A6ADB4;
	width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1.6;
}
/*article section goes here*/

.bg-for-article{
	background-image: url("../image/image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	height: 500px;
	width:100%;
}
.article-text{
	font-size: 14px;
	color: #A6ADB4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 60%;
	line-height: 2.6;
	margin-top: 40px;
	border-bottom: 2px solid #EBEDED; 
	margin-bottom: 160px;
}
.article-text p{
	margin-bottom: 30px;
}
.article-box-for-ipad{
	display: none;
	width: 90%;
	margin: 0 auto;
}
.article-box-for-ipad>p{
	margin-top: 40px;
	line-height: 1.6;
	font-family: helvetica-light;
}
 .article-box-for-ipad .child{
 	font-size: 14px;
 	color: #A6ADB4;

 }
 .span-text{
 	color: #202124;
 	font-size: 16px;
  	font-weight:oblique;
 }
 .pagination{
 	display: none;
 }
.another-color{
	color: #202124;
	border-bottom: 2px solid #FA6980;
}
.pagination-icon{
	color: #202124;
}
.pagination-icon:hover{
	color: #A6ADB4;
}
.pagination>p:hover{
	color: #202124
}